<div class="container">
	<% @opac.each do |item| %>
	<h1><%= item[:tr] %></h1>
    <table class="table">
      <thead>
        <tr>
          <th style="width: 200px;">属性</th>
          <th>内容</th>
        </tr>
      </thead>
      <tbody>
        <tr class="active">
          <th scope="row">NBC</th>
				<td><%= item[:nbc] %></td>
        </tr>
        <tr>
          <th scope="row">isbn</th>
          <td><%= item[:isbn] %></td>
        </tr>
        <tr class="active">
          <th scope="row">タイトル</th>
          <td><%= item[:tr] %></td>
        </tr>
        <tr>
          <th scope="row">著者</th>
          <td><%= item[:author] %></td>
        </tr>
        <tr class="active">
          <th scope="row">出版社</th>
          <td><%= item[:pub] %></td>
        </tr>
        <tr>
          <th scope="row">出版日</th>
          <td><%= item[:year] %></td>
        </tr>
        <tr class="active">
          <th scope="row">サイズ</th>
          <td><%= item[:phys]%></td>
        </tr>
        <tr>
          <th scope="row">シリーズ</th>
          <td><%= item[:series] %></td>
        </tr>
        <tr class="active">
          <th scope="row">備考</th>
          <td><%= item[:note] %></td>
        </tr>
        <tr>
          <th scope="row">読み(タイトル)</th>
          <td><%= item[:titleheading] %></td>
        </tr>
        <tr class="active">
          <th scope="row">読み(著者名)</th>
          <td><%= item[:authorheading] %></td>
        </tr>
				<tr>
					<th scope="row">保持記録</th>
					<td><%= item[:holdingsrecord] %></td>
				</tr>
				<tr>
					<th scope="row">NDC</th>
					<td><%= item[:holdingloc] %></td>
				</tr>
      </tbody>
    </table>
  <% end %>
</div>
